PORTFOLIO_MANAGER_GRPC_URL='localhost:50051'
EXECUTION_ENGINE_GRPC_URL='localhost:50052'
KAFKA_BROKERS='localhost:9092'
KAFKA_CONSUMER_RETRY_MAX_ATTEMPTS=5
KAFKA_CONSUMER_RETRY_BASE_MS=250
KAFKA_CONSUMER_RETRY_MAX_MS=5000
