NODE_ENV=development

EXTERNAL_API_FACADE_METRICS_PORT=9103

BINANCE_TESTNET=true
# BINANCE_API_KEY=           # Optional — only needed for future order placement
# BINANCE_API_SECRET=        # Optional — only needed for future order placement
BINANCE_DEFAULT_INTERVALS=1m
